body {
  font-family: 'Vazirmatn', sans-serif;
  background-color: #f8f9fa;
}

.hero {
  padding: 100px 20px;
  background: linear-gradient(to right, #3f51b5, #2196f3);
  color: white;
  border-radius: 0 0 30px 30px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.2rem;
}

.btn-primary {
  background-color: #ffca28;
  border: none;
  color: black;
  font-weight: bold;
}
